<!DOCTYPE html>
<html>
<head>
  <title>Convention</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <nav class="navbar navbar-inverse fixed navbar-custom" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav title">
        <% if current_user %>
          <li><%= link_to "Log out", logout_path %></li>
          <li><%= link_to "Your photos", user_photos_path(current_user) %></li>
          <li><%= link_to "Add an avatar/edit user", edit_session_user_path(session, current_user) %></li>
          <li><%= link_to "Add photo", new_user_photo_path(current_user) %></li>
          <li><a>Logged in as <%= current_user.name %></a></li>
          <li><%= image_tag current_user.avatar(:thumb) %>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<body>
  <div class="container">
    <%= flash[:notice] %>
    <%= yield %><br/>
    <%= debug(params) %>
  </div>
</body>
</html>